.area4button{
    background-color: white;
  }

  table{
    width: 100%;
  }
  .label{
    width: 100%;
  }
  .label1{
    width: 0.5%;
  }
  .textbox{
    width: 20%;
  }

.customerimage img{
  max-width: 20%;
  max-height: 20%;
  }