.area4button{
    background-color: white;
    cursor: pointer;
  }

  table{
    width: 100%;
  }
  .label{
    width: 100%;
  }
  .label1{
    width: 0.5%;
  }
  .textbox{
    width: 20%;
}

.propertyimage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px; /* Adjust the height to your preference */
  text-align: center; /* Add this line */
}
  
.propertyimage img {
    width: 150px;
    height: 150px;
    margin: 0 auto; 
    align-content: center;
}

.submitbutton, .cancelbutton{
  background-color: white;
  cursor: pointer;
}

.radioButton{
    font-size: 20px;
}
.dropdown{
    width: 20%;
}