.area4button{
    background-color: white;
    cursor: pointer;
  }

  table{
    width: 100%;
  }
  .label{
    width: 100%;
  }
  .label1{
    width: 0.5%;
  }
  .textbox{
    width: 20%;
}

.propertyimage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; 
    text-align: center; 
}
  
.propertyimage img {
    max-width: 20%;
    max-height: 20%;
    margin: 0 auto; 
}

.submitbutton, .cancelbutton{
  background-color: white;
  cursor: pointer;
}

.radioButton{
    font-size: 20px;
}
.dropdown{
    width: 20%;
}